{% extends 'base.html' %}

{% block title %}
ReleCloud - Destinations
{% endblock %}

{% block content %}
<h1>Cruise destinations</h1>
<p>
If you can imagine it, we travel to it! Below is our list of confirmed destinations.
</p>
<ul class="list-group">
    {% for destination in destinations %}
    <a class="list-group-item list-group-item-action d-flex align-items-center" href="{% url 'destination_detail' destination.id %}">
        {% if destination.image %}
        <img src="{{ destination.image.url }}" alt="{{ destination }}" style="width:64px;height:64px;object-fit:cover;border-radius:8px;margin-right:12px;">
        {% endif %}
        {{ destination }}
    </a>
    {% endfor %}
</ul>
{% endblock content %}
